.inline-flatpickr .form-control,
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.textInput {
    flex-grow: 100;
}