<div class="finance-grid-buttons">
  <button mat-raised-button color="primary" (click)="exportCSV()">Export To CSV</button>
  <button mat-raised-button color="primary" (click)="importCSV()">Import from CSV</button>
  <button mat-raised-button color="primary" (click)="addTransaction()">Add Transaction</button>
  <button mat-raised-button color="primary" (click)="clearFilters()">Clear Filters</button>
  <div class="flexMiddleSpacing"></div>
  <mat-label class="accountFilterLabel">Filter Debit and Credit Accounts</mat-label>
  <input type="text" matInput [matAutocomplete]="accountAuto" [formControl]="filterFormControl" class="accountFilter">
  <mat-autocomplete #accountAuto="matAutocomplete" autoActiveFirstOption [displayWith]="this.filterService.displayFn">
    <mat-option *ngFor="let account of this.filteredAccounts | async" [value]="account">{{account.name}}</mat-option>
  </mat-autocomplete>
</div>
<div class="table-container">
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine-dark"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [rowData]="dataSource.data"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    (firstDataRendered)="onFirstDataRendered($event)"
    [pagination]="true"
    [paginationAutoPageSize]="true" >
  </ag-grid-angular>
</div>