<div mat-dialog-container>
    <h2 mat-dialog-title>Create New Transaction</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <mat-form-field >
          <mat-label>Description</mat-label>
          <textarea placeholder="Transaction Description" formControlName="description" matInput required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Debit Account</mat-label>
          <input type="text" matInput formControlName="debitAccount" [matAutocomplete]="debitAuto">
          <mat-autocomplete #debitAuto="matAutocomplete" autoActiveFirstOption  [displayWith]="this.filterService.displayFn">
            <mat-option *ngFor="let account of this.debitFilteredAccounts | async" [value]="account">{{account.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Credit Account</mat-label>
          <input type="text" matInput formControlName="creditAccount" [matAutocomplete]="creditAuto">
          <mat-autocomplete #creditAuto="matAutocomplete" autoActiveFirstOption  [displayWith]="this.filterService.displayFn">
            <mat-option *ngFor="let account of this.creditFilteredAccounts | async" [value]="account">{{account.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field >
          <label for="amount">Amount</label>
          <input type="number" matInput formControlName="amount">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input placeholder="Date" type="date" matInput formControlName="date" required>
          <div *ngIf="transactionForm.controls['date'].hasError('required')">
            <mat-error>Date is required.</mat-error>
          </div>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button class="save-button" mat-dialog-close [disabled]="this.transactionForm.invalid" (click)="onSubmit()">Save</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>