/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine-dark.css';
@import 'ag-grid-community/dist/styles/ag-theme-material.css';
@import './widget.scss';

@include mat-core();
@include angular-material-theme($my-theme);

body, html {
    height: 100%;
    margin: 0;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}