@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@include mat-core();
$mat-udml: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ff6358,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);
$custom-primary: mat-palette($mat-udml, 400);
$custom-secondary: mat-palette($mat-light-blue, 300);
$custom-accent: mat-palette($mat-light-blue, 300);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent);
$primary: #ff6358;
$secondary: #3e80ed;
$background: #333;
$text: #ffffff;
$small-font: 10px;
$medium-font: 15px;
$large-font: 20px;
$border-color: #666a;
$border-radius: 2px;
$accent: #ff6358;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$base-text: #f6f6f6;
$base-bg: #444;
$filter-bg-color: #000;
$hovered-text: #ffffff;
$hovered-bg: #555555;
$selected-text: #ffffff;
$selected-bg: #ff6358;
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
@include angular-material-theme($custom-theme);

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    background-color: $background !important;
    color: $text !important;
}

@mixin mat-tabs-theme($theme) {
    $primary: map-get($theme, accent);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: $secondary;
    $foreground: $text;
    $header-border: 3px solid mat-color($accent, divider);
    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: $header-border;
    }
    .mat-tab-group-inverted-header {
        .mat-tab-nav-bar,
        .mat-tab-header {
            border-top: $header-border;
            border-bottom: none;
        }
    }
    .mat-tab-label,
    .mat-tab-link {
        color: mat-color($foreground, text);
        &.mat-tab-disabled {
            color: mat-color($foreground, disabled-text);
        }
    }
    .mat-tab-header-pagination-chevron {
        border-color: mat-color($foreground, text);
    }
    .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
        border-color: mat-color($foreground, disabled-text);
    }
    // Remove header border when there is a background color
    .mat-tab-group[class*='mat-background-'] .mat-tab-header,
    .mat-tab-nav-bar[class*='mat-background-'] {
        border-bottom: none;
        border-top: none;
    }
    .mat-tab-group,
    .mat-tab-nav-bar {
        $theme-colors: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        );
        @each $name, $color in $theme-colors {
            // Set the foreground color of the tabs
            &.mat-#{$name} {
                @include _mat-tab-label-focus($color);
                @include _mat-ink-bar($color);
                // Override ink bar when background color is the same
                &.mat-background-#{$name} {
                    @include _mat-ink-bar($color, default-contrast);
                }
            }
        }
        @each $name, $color in $theme-colors {
            // Set background color of the tabs and override focus color
            &.mat-background-#{$name} {
                @include _mat-tab-label-focus($color);
                @include _mat-tabs-background($color);
            }
        }
    }
}

.mat-tab-body-wrapper {
    flex: 1 1 auto;
}